<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body style="height: 100%; margin: 0; background-color: #f8fbfe;">
  <nav class="navbar navbar-expand-lg" style="background-color: #d5f0c1">
    <div class="container">
      <a class="navbar-brand" href="">
        <h3 style="font-family: 'Poppins', sans-serif; font-weight: 500;"><a href="{% url 'main' %}"></a>Pixel Perception</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto me-0">
          <li class="nav-item">
            <a class="nav-link active nav-elements-font" aria-current="page" href="{% url 'main' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-elements-font" href="">About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link nav-elements-font" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock content %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

  <footer class="bg-light text-center text-lg-start" >
    <div class="container p-4" >
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="font-family: 'Poppins', sans-serif;">Pixel Perception</h5>
          <p class="nav-elements-font">
            Here you can perform basic image processing tasks.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="font-family: 'Poppins', sans-serif;">Contact</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">+92 123 456 789</a>
            </li>
            <li>
              <a href="#!" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">waqar.mumtaz@gmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">Waqar Mumtaz</a>
            </li>
            <!-- <li>
              <a href="#!" class="text-dark" style="text-decoration: none; color: #b0a695;">Link 4</a>
            </li> -->
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="font-family: 'Poppins', sans-serif;">Services</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'compress-image' %}" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">Image Compression</a>
            </li>
            <li>
              <a href="{% url 'convert-jpg-to-webp' %}" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">Format Conversion</a>
            </li>
            <li>
              <a href="{% url 'edge-detection' %}" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">Edge Detection</a>
            </li>
            <li>
              <a href="{% url 'main' %}" class="text-dark nav-elements-font" style="text-decoration: none; color: #b0a695;">Other Image Tasks</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 nav-elements-font" style="background-color: #d5f0c1">
      © 2024 Copyright:
      <a class="text-dark nav-elements-font" href="">Pixel-Perception</a>
    </div>
  </footer>
</body>

</html>


<!-- style="position: absolute;
    bottom: 0;
    width: 100%;
    " -->